body {
  min-height: 600px;
  background-color: #fff;
}

.main-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 45px;
  width: 650px;
}

.heading-container {
  display: flex;
  width: 650px;
}

.body-text-container {
  display: flex;
  flex-direction: column;
  width: 650px;
  text-align: justify;
}
